GOGS_URL=http://localhost:3000/
GOGS_ADMIN_TOKEN=MY_COOL_API_KEY
GOGS_EMAIL=de.test.ru
SQLSERVER_CONNECTION_STRING="Server=localhost;Database=master;User Id=sa;Password=MY_COOL_PASS;TrustServerCertificate=True"
MYSQL_CONNECTION_STRING="Server=localhost;Uid=root;Pwd=MY_COOL_PASS"